.board {
  margin-left: auto;
  margin-right: auto;
}
div.board {
  line-height: 3px;
  align: center;
  min-width: 750px;
  border: 2px;
  display: block;
}
canvas.board {
  margin-top: 10px;
  display: block;
}
.tile {
  height: 5px;
  width: 5px;
  border: 1px solid lightgrey;
  display: inline-block;
}
div.on {
  height: 5px;
  width: 5px;
  border: 1px solid lightgrey;
  display: inline-block;
  background-color: black;
  border-color: gray;
}
div.off {
  height: 5px;
  width: 5px;
  border: 1px solid lightgrey;
  display: inline-block;
  background-color: white;
  border-color: lightgrey;
}
