.board-controls {
  margin: 10px;
}
button {
  background-color: #ffe113;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ffa500;
  border-radius: 4px;
}
button:hover {
  background-color: #fff193;
  border-color: #ffd280;
}
div.board {
  margin: 15px;
}
